h1{
    color: red;
    font-size: 50px;
}

img:hover{
    background-color: gold;
}
/* -------------------- class selectors ------------------ */
.hi{
    background-color: aqua;
    border-radius: 20%;
}

/* -------------------- id selectors ------------------ */
 #heading{
     color: blue;
 }